.App {
  text-align: center;
  background-color: #282c34;
  color: yellow;

}
h1 {
  background-color: #282c34;
  color: yellow;
  padding: 10vh;

}
Films {
  padding-left: 15vh;
  padding-right: 15vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




